<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Video Heatmap - Reaching Summit</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>

  <body scroll="yes" style="overflow-x: hidden">
    <header>
      <h1>Video Heatmap</h1>
    </header>
    <main class="col-lg-12 container">

      <div class='container'>
        <img class="col-lg-12" id='mountHood' src="images/mountHoodResponsive.jpg" alt="" />
        <div>
          <img class="ball fa fa-fw" src="images/ball.png" alt="You are here!" id='ballTurtleRabbit'/>
        </div>
        <div class="videoContainer">
          <div class="videoWrapper">
            <video id='video' width="560" height="315">
              <source id='source' src="videos/rollerbabiesEvian.mp4">
              Your browser does not support HTML5 video.
            </video>
          </div>
        </div>
        <canvas class="col-lg-12" id="canvas">
          <div id="svg">
            <g fill='none' stroke='black' lineWidth='10'>
              <line left=12.19% top=38.37% left2=15.52% top2=37.26%/>
              <line left=15.52% top=37.26% left2=13.54% top2=37.81%/>
              <line left=13.54% top=37.81% left2=16.98% top2=36.89%/>
              <line left=16.98% top=36.89% left2=18.75% top2=36.33%/>
              <line left=18.75% top=36.33% left2=20.31% top2=35.96%/>
              <line left=20.31% top=35.96% left2=21.98% top2=35.22%/>
              <line left=21.98% top=35.22% left2=23.54% top2=34.3%/>
              <line left=23.54% top=34.3% left2=25% top2=33.74%/>
              <line left=25% top=33.74% left2=26.88% top2=32.63%/>
              <line left=26.88% top=32.63% left2=28.75% top2=32.07%/>
              <line left=28.75% top=32.07% left2=30.42% top2=30.96%/>
              <line left=30.42% top=30.96% left2=31.35% top2=30.22%/>
              <line left=31.35% top=30.22% left2=32.6% top2=28.56%/>
              <line left=32.6% top=28.56% left2=34.06% top2=29.11%/>
              <line left=34.06% top=29.11% left2=35.63% top2=28%/>
              <line left=35.63% top=28% left2=37.29% top2=27.26%/>
              <line left=37.29% top=27.26% left2=39.17% top2=26.15%/>
              <line left=39.17% top=26.15% left2=40.63% top2=24.48%/>
              <line left=40.63% top=24.48% left2=42.08% top2=22.63%/>
              <line left=42.08% top=22.63% left2=43.44% top2=21.52%/>
              <line left=43.44% top=21.52% left2=45% top2=20.22%/>
              <line left=45% top=20.22% left2=46.35% top2=19.11%/>
              <line left=46.35% top=19.11% left2=47.4% top2=18%/>
              <line left=47.4% top=18% left2=48.02% top2=16.52%/>
              <line left=48.02% top=16.52% left2=48.96% top2=15.96%/>
              <line left=48.96% top=15.96% left2=50% top2=17.07%/>
              <line left=50% top=17.07% left2=51.04% top2=16.15%/>
              <line left=51.04% top=16.15% left2=51.88% top2=15.22%/>
              <line left=51.88% top=15.22% left2=52.4% top2=13.93%/>
              <line left=52.4% top=13.93% left2=53.02% top2=12.44%/>
              <line left=53.02% top=12.44% left2=53.75% top2=11.89%/>
              <line left=53.75% top=11.89% left2=54.9% top2=11.7%/>
              <line left=54.9% top=11.7% left2=55.83% top2=10.96%/>
              <line left=55.83% top=10.96% left2=56.56% top2=9.67%/>
              <line left=56.56% top=9.67% left2=57.08% top2=8.37%/>
              <line left=57.08% top=8.37% left2=58.33% top2=7.81%/>
              <line left=58.33% top=7.81% left2=59.17% top2=6.89%/>
              <line left=59.17% top=6.89% left2=60.1% top2=6.7%/>
            </g>
          </div>
        </canvas>
        <div class="imageCoordinates">
          <a href="" title="trailHead" style="position: absolute; left: 12.19%; top: 38.37%; width: 18.75%;  height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 15.52%; top: 37.26%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 13.54%; top: 37.81%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 16.98%; top: 36.89%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 18.75%; top: 36.33%;  width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 20.31%; top: 35.96%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 21.98%; top: 35.22%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 23.54%; top: 34.3%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 25%; top: 33.74%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 26.88%; top: 32.63%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 28.75%; top: 32.07%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 30.42%; top: 30.96%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 31.35%; top: 30.22%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 32.6%; top: 28.56%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 34.06%; top: 29.11%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 35.63%; top: 28%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 37.29%; top: 27.26%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 39.17%; top: 26.15%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 40.63%; top: 24.48%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 42.08%; top: 22.63%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 43.44%; top: 21.52%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 45%; top: 20.22%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 46.35%; top: 19.11%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 47.4%; top: 18%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 48.02%; top: 16.52%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 48.96%; top: 15.96%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 50%; top: 17.07%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 51.04%; top: 16.15%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 51.88%; top: 15.22%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 52.4%; top: 13.93%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 53.02%; top: 12.44%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 53.75%; top: 11.89%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 54.9%; top: 11.7%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 55.83%; top: 10.96%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 56.56%; top: 9.67%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 57.08%; top: 8.37%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 58.33%; top: 7.81%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="" style="position: absolute; left: 59.17%; top: 6.89%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
          <a href="" title="Summit" style="position: absolute; left: 60.1%; top: 6.7%; width: 18.75%; height: 33.33%; z-index: 2;"></a>
        </div>
      </div>

      <div class="activities">
        <section id='buttons'>
         <button type="btn" class="btn btn-success" onclick="playVideo()">Play Video</button>
         <button type="btn" class="btn btn-success" onclick="pauseVideo()">Pause Video</button><br>
         <button type="btn" class="btn btn-primary" onclick="advanceVideo()">Advance</button>
         <button type="btn" class="btn btn-primary" onclick="rewindVideo()">Rewind</button>
         <button type="btn" class="btn btn-primary" onclick="fasterVideo()">Faster</button>
         <button type="btn" class="btn btn-primary" onclick="slowerVideo()">Slower</button>
         <button type="btn" class="btn btn-primary" onclick="louderVideo()">Volume +</button>
         <button type="btn" class="btn btn-primary" onclick="quieterVideo()">Volume -</button><br>
         <button type="btn" class="btn btn-info" onclick="loadRollerBabies()">Roller Babies</button>
         <button type="btn" class="btn btn-info" onclick="loadBabyMe()">Baby Me</button>
         <button type="btn" class="btn btn-info" onclick="loadSurfingBaby()">Surfing Baby</button>
        </section>
        <aside id="activityLog">
          <p id="log">
          </p>
        </aside>
      </div>
    </main>
    <footer>

    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="javascripts/videoData.js"></script>
    <script src="javascripts/imageMap.js"></script>
  </body>
</html>
