body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(54,39,224,.69);
}

a {
  color: #00B7FF;
}

header {
  display: block;
  position: fixed;
  /*margin-top: 1em;*/
  top: 0;
  bottom: 1em;
  z-index: 10;

  /*background-color: rgba(54,39,224, 0);*/
}

main {
  display: inline-block;
  position: absolute;
  /*background: url('images/mountHood.jpg');*/
  max-width: 100%;
  max-height: 100%;
  top: 1em;
}

#mountHood {
  display: inline-block;
  position: relative;
  /*top: 0;*/
  left: 0;
  width: 100%;
  height: auto;
  z-index: -100;
}

.legend {
  background-color: red;
  min-height: 30px;
  min-width: 50px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.video  {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;

}

.ball {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 100;
  left: 12.19%;
  top: 38.37%;
}



/*animate*/
/*.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}
.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}*/

.spin {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingD {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

/*html
<div class="load-wrapp">
     <!-- Loading 4 don't work on firefox because of the border-radius and the "dashed" style. -->
     <div class="load-4">
         <p>Loading 4</p>
         <div class="ring-1"></div>
     </div>
 </div>*/
